/* #quiz,
#save-score,
#high-scores {
    display: none;
} */

* {
    line-height: 1.5;
}

.container {
    margin: 20px;
}

.container div {
    display: flex;
    justify-content: space-between;
}

.screen {
    margin: 50px 30%;
}

.screen > * {
    margin: 5px;
}

h1 {
    font-size: 200%;
}

#start {
    text-align: center;
}

button {
    padding: 5px;
    border-radius: 7px;
    border: none;
    background-color: #5e14a4;
    color: #ffffff;
}

#choices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#choices button {
    margin: 5px;
    width: 250px;
    text-align: start;
}