:root {
    --primary-color: #4d0e87;
    --secondary-color: #d818fa;
}

#quiz,
#save-score,
#high-scores {
    display: none;
}

* {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 20px;
}

.container div {
    display: flex;
    justify-content: space-between;
}

#view-scores {
    color: var(--secondary-color);
}

#view-scores:hover {
    cursor: pointer;
}

.screen {
    margin: 150px auto;
    width: 600px;
}

.screen > * {
    margin: 10px auto;
}

#save-score,
#high-scores {
    width: 400px;
}

h1 {
    font-size: 200%;
}

#start {
    text-align: center;
}

button {
    padding: 5px;
    border-radius: 7px;
    border: none;
    background-color: var(--primary-color);
    color: #ffffff;
}



#choices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#choices button {
    margin: 5px;
    width: 250px;
    text-align: start;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#initials {
    flex: 1 0 0;
    margin: 0 10px;
}

ol {
    list-style: decimal;
    padding-left: 20px;
}

@media (pointer: fine) {
    button:hover {
        cursor: pointer;
        background-color: var(--secondary-color);
    }
}

@media screen and (max-width: 656px) {
    .screen {
        width: 100%;
    }
}

@media screen and (max-width: 445px) {
    h1 {
        font-size: 150%;
    }

    button {
        font-size: 130%;
    }

    #save-score,
    #high-scores {
        width: 100%;
    }

    form {
        flex-direction: column;
        align-items: flex-start;
    }

    #initials {
        margin: 0;
    }

    form > * {
        margin: 10px 0;
    }
}